
<section class="section">
    <table *ngIf="sushiBoxes.length > 0; else sushiEmpty" class="table is-striped center">
        <thead>
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
          <div class="container-fluid">
            <img src="../assets/images/logoSushiFast.png" style="width:100px; height:100px;">
            <img src="../assets/images/SushiFast.png" style="width:200px; height:auto;">
          </div>
        </nav>
        </thead>
        <tbody>
            <tr *ngFor="let sushiBox of sushiBoxes">
                <td>
                    <div id="popup{{ sushiBox.id }}" class="overlay">
                        <div class="popup">
                            <h2>{{ sushiBox.nom }}</h2>
                            <ul>Prix : {{ sushiBox.prix }} € </ul>
                            <ul>Aliments :</ul>
                            <ul>
                                <li *ngFor="let aliment of sushiBox.aliments">{{ aliment.nom }} ({{ aliment.quantite }})</li>
                            </ul>
                            <ul>Saveurs : </ul>
                            <ul>
                                <li *ngFor="let flavour of sushiBox.saveurs">- {{ flavour }}</li>
                            </ul>
                          <img src="{{pathImage}}{{sushiBox.image}}">
                          <button (click)="addBox(sushiBox)">Ajouter au panier</button>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
        <tfoot>
            <div style="font-weight:bold;">Nombre de boxes : {{ sushiBoxes.length }}</div>
        </tfoot>
    </table>

    <ng-template #sushiEmpty>
        <p>Pas de sushi boxes ! </p>
    </ng-template>

    </section>
    <section>
        <app-panier></app-panier>
    </section>
