<header><app-header></app-header></header>
<section class="section">
    <table *ngIf="sushiBoxes.length > 0; else sushiEmpty" class="table is-striped center">
        <tbody>
            <tr *ngFor="let sushiBox of sushiBoxes">
                <td>
                    <div id="popup{{ sushiBox.id }}" class="overlay">
                        <div class="popup">
                            <h2>{{ sushiBox.nom }}</h2>
                            <ul>Prix : {{ sushiBox.prix }} € </ul>
                            <ul>Aliments :</ul>
                            <ul>
                                <li *ngFor="let aliment of sushiBox.aliments">{{ aliment.nom }} ({{ aliment.quantite }})</li>
                            </ul>
                            <ul>Saveurs : </ul>
                            <ul>
                                <li *ngFor="let flavour of sushiBox.saveurs">- {{ flavour }}</li>
                            </ul>
                          <img src="{{pathImage}}{{sushiBox.image}}">
                          <button (click)="addBox(sushiBox)">Ajouter au panier</button>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
        <tfoot>
            <div style="font-weight:bold;">Nombre de boxes : {{ sushiBoxes.length }}</div>
        </tfoot>
    </table>

    <ng-template #sushiEmpty>
        <p>Pas de sushi boxes ! </p>
    </ng-template>

    </section>
    <section>
        <app-panier></app-panier>
    </section>
