<h1>Panier</h1>

<table>
  <thead>
    <th>Quantite</th>
    <th>Nom</th>
    <th>Prix</th>
    <th>Ajouter</th>
    <th>Retirer</th>
  </thead>
  <tbody>
    <tr *ngFor="let panierBox of panier">
      <td>{{getTtlQuantity()}}</td>
      <td>{{ panierBox.nom }}</td>
      <td>{{ panierBox.prix }} €</td>
      <td style="text-align: center"><img src="../assets/images/plus.png" style="width:40px; height:auto;" (click)="ajouterQuantite(panierBox)"></td>
      <td style="text-align: center"><img src="../assets/images/effacer.png" style="width:40px; height:auto;" (click)="diminuerQuantite(panierBox)"></td>
    </tr>
  </tbody>
</table>

  <td ><button>Valider</button></td>
  <td><b>Total : {{ getTtl() }} €</b></td>

<ng-container *ngIf="panier.length === 0">
  <p>Panier vide !</p>
</ng-container>
